.banner{width: 100%;height: 681px;display: flex;justify-content: flex-end;align-items: center;background-color: #f5f5f5;position: relative;}
.banner::after{content: "";width: 140px;height: 140px;border-radius: 100%;background-image: radial-gradient(circle at 2px 2px, rgba(246, 170, 28, .4) 2px, transparent 0);background-size: 10px 10px;position: absolute;top: 78px;right: 37px;z-index: 1;}
.banner .content{width: 50%;position: absolute;left: 100px;top: 50%;transform: translateY(-50%);}
.banner .content h6{line-height: 24px;font-weight: 700;letter-spacing: .75px;color: #F6AA1C;font-size: 16px;margin-bottom: 20px;}
.banner .content h2{font-weight: 800;font-size: 64px;line-height: 66px;letter-spacing: 1px;color: #1F1F1F;}
.banner .content p{width: 500px;font-size: 18px;line-height: 34px;letter-spacing: .75px;color: #474747;margin-top: 20px;}
.banner .content a{width: 220px;line-height: 48px;border-radius: 8px;background-color: #C92071;color: #FFFFFF;text-align: center;font-weight: bold;display: block;margin-top: 40px;transition-duration: .2s;}
.banner .content a:hover{background-color: #991956;}
.banner .image{margin-right: 100px;}
.banner .image img{width: 733px;display: block;}

@media ( max-width: 600px ){
    .banner{flex-direction: column-reverse;overflow: hidden;}
    .banner::after{top: 20px;right: -70px;}
    .banner .content{width: 100%;position: initial;left: initial;top: initial;transform: initial;text-align: center;padding: 0 25px;}
    .banner .content h6{color: #C92071;margin-bottom: 10px;}
    .banner .content h2{font-size: 40px;line-height: 50px;font-weight: 800;}
    .banner .content p{width: 100%;font-size: 14px;line-height: 22px;letter-spacing: .25px;font-weight: 500;}
    .banner .content a{width: 100%;margin-bottom: 40px;}
    .banner .image{width: 100%;margin: 0;}
    .banner .image img{height: auto;width: 100%;}
}